DEFAULT_CHAT_MODEL=Phi-3-mini-128k-instruct-cuda-gpu:2

# GDELT config
GDELT_DATA_DIR=data/backfill/gdelt
GDELT_CONFIG_PATH=gdelt_config.yaml
GDELT_API=http://api.gdeltproject.org/api/v2/doc/doc
GDELT_DEFAULT_DAYS=30
GDELT_SOURCE_COUNTRIES=US,GB,CA,AU,SN,HK,IN,JA,KS

# LLM Wrapper config
PORT=8091
HOST=127.0.0.1

GDELT_INTER_REQUEST_SLEEP_SECONDS=8
GDELT_MAX_RECORDS_BASE=50
GDELT_MAX_RECORDS_CAP=500
GDELT_RETRY_COOLDOWN_SECONDS=300
GDELT_MAX_OUTER_RETRIES=2   