# Scraping
requests
beautifulsoup4
lxml
feedparser
readability-lxml
python-dateutil
tldextract
PyYAML

# Sentiment labeling
openai
python-dotenv

# Financial data
yfinance

#language detection
langdetect

# jupyter notebook
jupyter
seaborn
scipy
matplotlib