# Copy this file to .env and edit values as needed
FOUNDRY_URL= http://127.0.0.1:5272/
DEFAULT_CHAT_MODEL=Phi-3-mini-128k-instruct-cuda-gpu:2
# DEFAULT_EMBED_MODEL=Phi-3-mini-128k-instruct-cuda-gpu:2
# SENTIMENT_ANALYSIS_MODEL=phi-4-mini-reasoning
PREDICTION_MODEL=<Fine-tuned model name for prediction tasks>
HOST=127.0.0.1
PORT=8091
